venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
build/
dist/
*.egg-info/
.eggs/
*.sqlite3
*.log
*.pot
*.pyc
.DS_Store
Thumbs.db
*.coverage
coverage.xml
htmlcov/
.pytest_cache/
.ipynb_checkpoints/
.idea/
.vscode/
*.env
.env
